<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.and.ibrahim.teleprompter">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />


    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:name=".ControlVisbilityPreference"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:protectionLevel="signature"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_ads_id"/>
        <activity android:name=".modules.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <service
            android:name=".service.GoogleDriveUploadService"
            android:description="@string/googleDriveService"
            android:exported="false" />
        <service
            android:name=".service.DropboxUploadService"
            android:description="@string/dropboxService"
            android:exported="false" />
       <!-- <receiver
             android:name=".modules.widget.WidgetProvider"
             tools:ignore="InnerclassSeparator">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                 <action android:name="com.and.ibrahim.teleprompter.TeleprompterApp.ACTION_DATA_UPDATED" />
             </intent-filter>

             <meta-data
                 android:name="android.appwidget.provider"
                 android:resource="@xml/main_widget_info" />
         </receiver>
        <service
            android:name=".modules.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            tools:ignore="InnerclassSeparator" />
  -->

        <provider
            android:name=".data.MyContentProvider"
            android:authorities="com.and.ibrahim.teleprompter"
            android:exported="false"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".modules.display.DisplayActivity"
            android:parentActivityName=".modules.listContents.ListContentsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="nosensor"

            />
        <activity android:name=".modules.listContents.ListContentsActivity" />
        <activity
            android:name=".modules.display.SettingsCameraActivity"
            android:screenOrientation="nosensor"
            android:parentActivityName=".modules.display.DisplayActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.display.VideoResolutionActivity"
            android:screenOrientation="nosensor"
            android:parentActivityName=".modules.display.SettingsCameraActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.display.MemoryLimitActivity"
            android:screenOrientation="nosensor"
            android:parentActivityName=".modules.display.SettingsCameraActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.display.RefreshActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".modules.display.MediaActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".modules.display.DisplayActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.display.GalleryActivity"
            android:screenOrientation="nosensor"
            android:parentActivityName=".modules.display.DisplayActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".modules.setting.SettingsActivity"
            android:parentActivityName=".modules.listContents.ListContentsActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />


    </application>
</manifest>